.header {
    padding: 20px 0;
}

.header .navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.header .nav-link {
    color: black !important;
    font-size: 1em;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
}

.header .nav-link:hover {
    color: blue !important;
}

.form-check-input {
    cursor: pointer;
}

.form-check-label {
    margin-left: 0.5rem;
    cursor: pointer;
}
